nav{
    width: 100%;
    padding: 10px 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px dashed blue;
}
#logo{
    font-size: 30px;
}
#nav-beta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-beta2{
    margin: 10px;
    padding: 10px;

    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
}
#nav-beta2:hover{
    opacity: 0.9;
}
