#form-main{
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
#input-form{
    display: flex;
    flex-direction: column;

    padding: 30px;
    border: 2px dashed blue;
    border-radius: 10px;
}
#login-h2{
    font-size: 60px;
}
#input{
    padding: 10px 20px;
    margin-top: 20px;
}
#beta-btn{
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}
